<!DOCTYPE html>
<html lang='es'>
{% extends "core/base_sin_material.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

<style>
   
  .titulo{
        margin-bottom: -20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #056636;
        color: white;
    }
  label{color: black;
        font-size: medium;
        font-weight: 500;
    }
  #id_content{
    width: 30%;
  }
</style>

<head>
  

</head>

<div class="container" >
  <div class="col-md-12 mx-auto mb-6">
      <div class="titulo">
              INFORMACION CLASIFICADO
      </div>
      </br>
      <div class="container">
        <div style="width: 100%;"></div>
          <form role="form" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy }}
              <button id="btnObra" type="submit" class="btn btn-primary" value="Submit">Guardar</button>
              <button id="btnSalir" class="btn btn-warning" data-dismiss="modal">Salir</button>
          </form>
        </div>  
      </div>    
  </div>
</main>        

{% block javascript %}
<script>
    $(document).on("click","#btnSalir", function(e) {
          window.location.href = "{% url 'direcciona_salida_clasificado_form' %}";
    })
   

</script>

{% endblock %}
{% endblock %}
