{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Iniciar sesión| CONDOMINIUM{% endblock %}
{% block content %}

<style>
    .card{
    background-color: rgb(207, 252, 252);
    width: 80vh;
    margin-left:auto ;
    margin-right: auto;
    margin-top: 5vh;
    height: 40vh;
    padding-top: 5vh;
    }
    body{
        background-image: url({% static "core/img/ciudad.jpg" %}) ;
        background-repeat: no-repeat;
        
        background-size: cover;
         /* margin-left: 50px; */
        
    }
</style>

<div class="center">
	<form method="post" class="card">
		{% csrf_token %}
	    <h3 class="text-center" style="color:brown">Cambio de Clave</h3>
        <hr></hr>
		<h5> Se ha enviado un mensaje a su mail con las instrucciones para</h5>
        <h5> el cambio de su clave. Revise su email y siga las instrucciones.</h5>
        </strong>
    <form>
	</div>
{% endblock content %}