<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">
{% load static %}

<style>
    .container-leg{
    width: 50%;
  }
</style>

<title>{% block tittle %}{% endblock %}Inicio | CONDOMINIUM</title>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>

{% block head %}{% endblock %}
</head>

<body>

  {% block content %}{% endblock %}
</body>
















{% block javascript %}
{% endblock javascript %}