{% load crispy_forms_tags %}
{% load static %}
<div class="container1">
    <form method="post" >
      {% csrf_token %}
      <div class="modal-body">
        {{ form|crispy }}
      </div>
      <div class="modal-footer">
        <button id="btnGuardarVisitante" type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
      </div>  
    </form>
</div>       
    
<script>       
$(document).on("click","#btnGuardarVisitante", function(e) {
window.location.href = "{% url 'crear_ingreso_peatonal' %}";
})
</script>