{% extends "core/base.html" %}
{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{% load humanize %}
{% load static %}
{% block content %}
{{ form.media }}
<!doctype html>
<style>
    .table{
        background-color: rgb(255, 254, 254);
    }
    table, th, td {
        border: 1px solid rgb(193, 175, 243);
    }
    
    .sidebar{
    width:15%;
    background-color: rgb(4, 83, 161);
    margin-top: 5px;
    margin-left: 10px;
    }
    
   .main-box{display: flex;
    flex-direction: row; 

   }
   .container-filter{
        display:flex;
        flex-direction:row;
        justify-content: center;
        padding-top: 20px;
        margin-left:2vw;
        margin-right: 2vw ;
        margin:auto;
        width:80%;
        background-color: aliceblue;
    }     

@media screen and (max-width: 600px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    
    div.content {margin-left: 0;}
    
    .main-box{
        display: flex;
        flex-direction: column; 
    }
    .navbar-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center; 
    }
    }
    @media screen and (max-width: 400px) {
    .sidebar a {
      width: 100%;
      text-align: center;
      float: none;
    }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	
  .container-filter{
        display:flex;
        flex-direction:row;
        justify-content: center;
        padding-top: 20px;
        margin-left:2vw;
        margin-right: 2vw ;
        margin:auto;
        width:80%;
        background-color: aliceblue;
    }       
  
    }
</style>

<head> 
 
</head>

<div class="main-box">
    <head> 
        <div class="sidebar" >
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <div class="py-2 px-3 mb-20 " style="background-color: white;">
                <div style="color:rgb(8, 8, 8);">Menu Obras</div>
                </div>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <br>
                    <li>
                        <a  href="{% url 'lista_obras' %}" class="nav-link px-0 align-middle" style="color:rgb(188, 245, 174)">
                        <i class="material-icons">undo</i><span class="ms-1 d-none d-sm-inline">Regresar</span> </a>
                    </li>
                </ul>     
            </div>    
        </div>
    </head>           
       
    <div style="padding-top: 20px;margin-left:2vw;margin-right: 2vw ;margin:auto;width:80%;" class="container-obras">
        <div style="display:flex;align-items:center;justify-content:center;flex-direction:row;justify-content: space-between;background-color:azure;">  
            <a style="display:flex;font-size: calc(5px + 1vw);margin: auto;color:black;transform:translate(-7vh,0)" type="button" type="submit" href="#" value="autoriza" ><span>OBRA</span></a>
        </div>
        <hr width=50% style="color:black;size:20">
        {% for obra in obra %}
            
            
            <table class="table table-bordered" style="background-color:aliceblue">
                <tr>
                <th>Fecha</th>
                <th>Proveedor</th>
                <th>Interventor</th>
                <th>Contrato</th>
                <th>Valor Obra</th>
                <th>Valor Anticipo</th>
                <th>Valor Pagado</th>
                <th>Saldo Pagar</th>
                </tr>
                <tr>
                <td>{{obra.fecha}}</td>        
                <td>{{obra.proveedor}}</td>
                <td>{{obra.interventor}}</td>
                <td>{{obra.contrato}}</td>
                <td>{{obra.valor|intcomma}}</td>
                <td>{{obra.valor_anticipo|intcomma}}</td>
                <td>{{obra.valor_pagado|intcomma}}</td>
                <td>{{obra.saldo_pagar|intcomma}}</td> 
            </tr>   
            </table>
            
            <table class="table table-bordered" style="background-color:aliceblue">
                <tr>
                <th>% Avance</th>    
                <th>Calificación</th>
                <th>Terminada</th>
                <th>Editar</th>
                <th>Borrar</th>
                <th>Adic.Anexo</th>
                <th>Adic.Avance</th>
                </tr>
                <tr>
                <td>{{obra.avance_obra}}</td> 
                <td>{{obra.calificacion}}</td>
                {% if obra.terminada == True %}
                <td><label><input type="checkbox" checked="checked" id="terminada"><span></span></label>
                {% else %}
                <td><label><input type="checkbox" id="terminada" ><span></span></label></td>
                {% endif %}
                <td><a id="BtnEditar" type="button" class="btn-floating btn-short waves-effect waves-light orange" href="{% url "edita_obra" pk=obra.id %}" value="editar" style="color:red"><i class="material-icons">edit</i></a></td>
                <td><a id="BtnBorrar" type="button" class="btn-floating btn-short waves-effect waves-light brown" href="{% url "borra_obra" pk=obra.id %}" value="borrar" style="color:red"><i class="material-icons">delete</i></a></td>
                <td><a id="BtnAnexos" type="button" class="btn-floating btn-short waves-effect waves-light green" href="{% url "upload:anexo_obra" obra.id %}" value="anexo" style="color:red"><i class="material-icons">add_circle</i></a></td>
                <td><a id="BtnAvance" type="button" class="btn-floating btn-short waves-effect waves-light green" href="{% url "crea_avance_obra" obra.id %}" value="anexo" style="color:red"><i class="material-icons">add_circle</i></a></td>      
                </tr>
            </table> 
                        
            <table style="border: 1px black;background-color: rgb(241, 228, 103);height: 30%;border-collapse: collapse;padding-top:5px;padding-bottom:5px;" >
                {% for anexo in anexos_obra %}
                    {% if anexo.obra_id == obra.id %}
                        {% if forloop.first %}            
                            <div style="display:flex;align-items:center;justify-content:center;flex-direction:row;justify-content: space-between;background-color:azure;"> 
                            <a style="display:flex;font-size: calc(3px + 1vw);margin: auto;color:black" type="button" type="submit" href="#" value="autoriza" ><span>ANEXOS OBRA</span></a>
                            </div>
                            
                        {% endif %}
                        <tr>
                            <th>No.</th>
                            <th>Documento</th>
                            <th></th>
                            <th>Borrar</th>
                        </tr>    
                        <tr>
                        <td>-{{ forloop.counter }}</td>
                        <td>{{ anexo.descripcion }}</td>
                        <td><a href="{{ anexo.archivo.url }}">
                            <i class="fa fa-folder-open fa-2x"></i>
                            <span class="nav-text" style="color:black">
                            <strong>Descargar</strong>
                            </span>
                            </a>
                        </td>
                        <td><a id="BtnBorrar" type="button" class="btn-floating btn-short waves-effect waves-light brown" href="{% url "borra_anexo_obra" pk=anexo.id %}" value="borrar" style="color:red"><i class="material-icons">delete</i></a></td></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table> 
              
        {% endfor %}
        
        {% for avance in avance_obra %}
                <div style="display:flex;align-items:center;justify-content:center;flex-direction:row;justify-content: space-between;background-color:azure;">  
                    <a style="display:flex;font-size: calc(3px + 1vw);margin: auto;color:black;" type="button" type="submit" href="#" value="autoriza" ><span>AVANCE No.{{ forloop.counter }}</span></a>
                </div>
                <!-- <hr width=50% style="color:black;size:20"> -->
                                
                <table class="table table-bordered" style="background-color:antiquewhite">
                    <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Valor Pagado</th>
                    <th>% Avance</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                    <th>Adic.Anexo</th>
                    </tr>
                    <tr>
                    <td>{{avance.fecha}}</td>
                    <td>{{avance.descripcion}}</td>
                    <td>{{avance.valor|intcomma}}</td>
                    <td>{{avance.porcentaje_avance}}</td>
                    <td><a id="BtnEditar" type="button" class="btn-floating btn-short waves-effect waves-light orange" href="{% url "edita_avance_obra" pk=avance.id %}" value="editar" style="color:red"><i class="material-icons">edit</i></a></td>
                    <td><a id="BtnBorrar" type="button" class="btn-floating btn-short waves-effect waves-light brown" href="{% url "borra_avance_obra" pk=avance.id %}" value="borrar" style="color:red"><i class="material-icons">delete</i></a></td>
                    <td><a id="BtnAnexos" type="button" class="btn-floating btn-short waves-effect waves-light green" href="{% url "upload:anexo_avance_obra" avance.id %}" value="anexo" style="color:red"><i class="material-icons">add_circle</i></a></td>   
                    </tr>
                </table>
                
                <table style="border: 1px white;background-color: rgb(241, 228, 103);height: 50%;border-collapse:collapse;" >
                    {% for anexo in anexos_avance_obra %}
                        {% if anexo.avance_obra_id == avance.id %}
                                      
                                <div style="display:flex;align-items:center;justify-content:center;flex-direction:row;justify-content: space-between;background-color:azure;"> 
                                <a style="display:flex;font-size: calc(3px + 1vw);margin: auto;color:black" type="button" type="submit" href="#" value="autoriza" ><span>ANEXOS AVANCE OBRA No.{{ forloop.counter }}</span></a>
                                </div>
                                
                            
                            <tr>
                                <th>No.</th>
                                <th>Documento</th>
                                <th></th>
                                <th>Borrar</th>
                            </tr>        
                            <tr>
                            <td>-{{ forloop.counter }}</td>
                            <td>{{ anexo.descripcion }}</td>
                            <td><a href="{{ anexo.archivo.url }}">
                                <i class="fa fa-folder-open fa-2x"></i>
                                <span class="nav-text" style="color:black">
                                <strong>Descargar</strong>
                                </span>
                            </a>
                            </td>
                            <td><a id="BtnBorrar" type="button" class="btn-floating btn-short waves-effect waves-light brown" href="{% url "borra_anexo_avance_obra" pk=anexo.id %}" value="borrar" style="color:red"><i class="material-icons">delete</i></a></td></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
                
        {% endfor %}                
    

    </div>
   
</div>

{% block javascript %}
<script>
       
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(document).on("click","#BtnAvance", function(e) {
    e.stopImmediatePropagation();
    var currentRow=$(this).closest("tr");
    var id = currentRow.find("#id").text();
    $.ajax({
    url: "{% url 'guarda_idobra' %}",
    data:{'id':id},
    method: "GET",
    dataType: 'json',
    success: function (data) {
    
    },
    });
    });

</script>
{% endblock %}
{% endblock %}


