<!DOCTYPE html>
<html lang="es">
{% extends "core/base.html" %}
{% load static %}
{% block content %}

<title>{% block tittle %}{% endblock %}Inicio | CONDOMINIUM</title>

<style>
 .container-consejo{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
 }
 .container-titulo{
  background-color: rgb(175, 155, 155);
  color: aliceblue;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
 }
</style>

<nav>
      <div class="nav-wrapper">
        <a style="font-size: calc(12px + 1vw);transform:translate(3vw,0)" href="#!" class="brand-logo"><i class="material-icons">people</i> INFORMES AUDITOR</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'lista_informes_auditor' %}">Informes Auditor</a></li>
          <li><a href="{% url 'home' %}">Regresar</a></li>
          <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
      </div>
</nav>

  <ul class="side-nav" id="mobile-demo">
    <li><a href="{% url 'lista_informes_auditor' %}">Informes Auditor</a></li>
    <li><a href="{% url 'home' %}">Regresar</a></li>
    <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
  </ul>


<head>
</head>
<body>
    
    
</body>
{% block javascript %}
<script>

  $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>  
{% endblock %}
{% endblock %}