<!DOCTYPE html>
<html lang="es">
{% extends "core/base.html" %}
{% load static %}
{% block content %}

<style>
    .container-buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .waves-effect{
      width: 20vh;
      margin-left: auto;
      margin-right: auto;
    }
    .image-box{
        width: 30hw;
        margin-left: 5vh;
    }
    @media screen and (max-width: 600px) {
      .container-buttons{
        display: flex;
        flex-direction: column;
        width: 30vh;
        margin-top: 30vh;
    }
      .image-box{
        margin-left: 10vw; 
      }  
      
    }
</style>
<title>{% block tittle %}Vigilancia | CONDOMINIUM{% endblock %}</title>

<body>
  <div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="{% url 'acceso_peatonal' %}">Acceso Peatonal</a></li>
      <li><a href="{% url 'acceso_vehicular' %}">Acceso Vehicular</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a style="font-size: calc(12px + 1vw);transform:translate(3vw,0)" href="#!" class="brand-logo"><i class="material-icons">security</i>Vigilancia</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Accesos<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="{% url 'lista_correspondencia' %}">Correspondencia</a></li>
          <li><a href="{% url 'pagina_alertas' %}">Alertas</a></li>
          <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div><h6 style="color:black;background-color: gold;width: 200px;margin-left: 20px;border-radius: 25px;height:30px;padding-top:2px;padding-left:10px;text-align: center;box-shadow: 10px 5px 5px black;
    ">Usuario:{{request.user.username}}</h6>
    
  </div>
  <ul class="sidenav" id="mobile-demo">
    <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Accesos</a>
          <div class="collapsible-body">
              <ul id="" class="">
                <li><a href="{% url 'acceso_peatonal' %}">Acceso Peatonal</a></li>
                <li><a href="{% url 'acceso_vehicular' %}">Acceso Vehicular</a></li>
              </ul>
          </div>

          <li><a href="{% url 'lista_correspondencia' %}">Correspondencia</a></li>
          <li><a href="{% url 'pagina_alertas' %}">Alertas</a></li>
          <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        </li>
    </ul>
  </ul>
  <div>
      {% load vigilancia %}
      {% get_vigilancia_list as vigilancia_list %}
      {% for vigilancia in vigilancia_list %}
      {% if vigilancia.email == request.user.email %}
      <div class="image-box" data-type="image" itemprop="image"><img src="{{vigilancia.foto.url}}" alt="..." width='250' height="250"></div>
      {% endif %}
      {% endfor %}
      <div class="container-buttons">
            <div style=" display: flex;flex-direction: column;margin-top: -250px;">
              <a class="waves-effect waves-light btn-large" style="font-size: calc(.4rem + 1vw)">INGRESOS</a>
              <a class="waves-effect waves-light btn-large" href="{% url 'acceso_peatonal' %}" style="height:150px;background: no-repeat;background-image: url({% static 'core/img/peaton.png' %});background-size: contain"><i class="material-icons center"><span class="material-symbols-outlined" style="font-size: calc(15px + 1vw);"></i></a>
              <a class="waves-effect waves-light btn-large" href="{% url 'acceso_vehicular' %}" style="height:150px;background: no-repeat;background-image: url({% static 'core/img/Vehiculo.jpg' %});background-size: contain;width='30' height='20'"><i class="material-icons center"><span class="material-symbols-outlined" style="font-size: calc(15px + 1vw);"></i></a>
            </div>  
          
            <a class="waves-effect waves-light btn-large" style="font-size: calc(.4rem + .35vw);">CORRESPONDENCIA</a>
            <a class="waves-effect waves-light btn-large" href="{% url 'lista_correspondencia' %}" style="height:150px;background: no-repeat;background-image: url({% static 'core/img/Correspondencia.png' %});background-size: contain;width='30' height='20'"><i class="material-icons center"><span class="material-symbols-outlined" style="font-size: calc(15px + 1vw);"></i></a>  
          
            <a class="waves-effect waves-light btn-large" style="font-size: calc(.4rem + 1vw);">ALERTAS</a>
            <a class="waves-effect waves-light btn-large" href="{% url 'pagina_alertas' %}" style="height:150px;background: no-repeat;background-image: url({% static 'core/img/Alertas.png' %});background-size: contain;width='30' height='20'"><i class="material-icons center"><span class="material-symbols-outlined" style="font-size: calc(15px + 1vw);"></i></a>  
      </div>  
  </div>  
</body>
{% block javascript %}
<script>
  $(".dropdown-trigger").dropdown();
  $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrainWidth: false,
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'right', // Displays dropdown with edge aligned to the left 
        stopPropagation: false // Stops event propagation
       
  });
  $( document ).ready(function(){
        $('.sidenav').sidenav();
        $('.collapsible').collapsible();
        $(".dropdown-trigger").dropdown({ hover: true });
  });
  $(document).ready(function() {$('.button-collapse').sidenav('show'); });    
</script>
{% endblock %}

{% endblock %}