{% extends "core/base.html" %}
{% load render_table from django_tables2 %}
{% load django_tables2 %}
{% load static %}
{% load humanize %}
{% block content %}
{{ form.media }}
<!doctype html>
<style>
    .table{
        background-color: rgb(255, 254, 254);
    }
    table, th, td {
        border: 1px solid rgb(193, 175, 243);
    }
    
    .sidebar{
    width:15%;
    background-color: rgb(4, 83, 161);
    margin-top: 5px;
    margin-left: 10px;
    }
    
   .main-box{display: flex;
    flex-direction: row; 

   }
   .container-filter{
        display:flex;
        flex-direction:row;
        justify-content: center;
        padding-top: 20px;
        margin-left:2vw;
        margin-right: 2vw ;
        margin:auto;
        width:80%;
        background-color: aliceblue;
    }     

@media screen and (max-width: 600px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    
    div.content {margin-left: 0;}
    
    .main-box{
        display: flex;
        flex-direction: column; 
    }
    .navbar-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center; 
    }
    }
    @media screen and (max-width: 400px) {
    .sidebar a {
      width: 100%;
      text-align: center;
      float: none;
    }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	
  .container-filter{
        display:flex;
        flex-direction:row;
        justify-content: center;
        padding-top: 20px;
        margin-left:2vw;
        margin-right: 2vw ;
        margin:auto;
        width:80%;
        background-color: aliceblue;
    }       
  
    }
</style>

<div class="main-box">
    <head> 
        <div class="sidebar" >
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <div class="py-2 px-3 mb-20 " style="background-color: white;">
                <div style="color:rgb(8, 8, 8);">Menu proyectos</div>
                </div>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <br>
                    <li>
                        <a  href="{% url 'lista_proyectos' %}" class="nav-link px-0 align-middle" style="color:rgb(188, 245, 174)">
                        <i class="material-icons">undo</i><span class="ms-1 d-none d-sm-inline">Regresar</span> </a>
                    </li>
                </ul>     
            </div>    
        </div>
    </head>
                 
    <div style="display:flex;flex-direction:column; padding-top: 20px;margin-left:2vw;margin-right: 2vw ;margin:auto;width:80%;" class="container-proyectos">
        <div style="display:flex;align-items:center;justify-content:center;justify-content: space-between;background-color:azure;">  
            <a style="display:flex;font-size: calc(5px + 1vw);margin: auto;color:black;transform:translate(-7vh,0)" type="button" type="submit" href="#" value="proyecto" ><span>PROYECTO</span></a>
        </div>
        {% render_table proyecto %}
        <table style="border: 1px white;background-color: rgb(241, 228, 103);height: 50%;border-collapse: collapse;" >
            {% for anexo in anexos_proyecto %}
                {% if forloop.first %}            
                    <div style="display:flex;align-items:center;justify-content:center;flex-direction:row;justify-content: space-between;background-color:azure;"> 
                    <a style="display:flex;font-size: calc(3px + 1vw);margin: auto;color:black" type="button" type="submit" href="#" value="autoriza" ><span>ANEXOS PROYECTO</span></a>
                    </div>
                {% endif %}
                <tr>
                    <th>No.</th>
                    <th>Documento</th>
                    <th></th>
                    <th>Borrar</th>
                </tr>         
                <tr>
                    <td>-{{ forloop.counter }}</td>
                    <td>{{ anexo.descripcion }}</td>
                    <td><a href="{{ anexo.archivo.url }}">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text" style="color:black">
                    <strong>Descargar</strong>
                        </span>
                    </a>
                    </td>
                    <td><a id="BtnBorrar" type="button" class="btn-floating btn-short waves-effect waves-light brown" href="{% url "borra_anexo_proyecto" pk=anexo.id %}" value="editar" style="color:red"><i class="material-icons">delete</i></a></td></td>
                </tr>
            {% endfor %}
        </table>
        
        {% for proponente in proponentes %}
            
            <div style="display:flex;align-items:center;justify-content:center;flex-direction:row;justify-content: space-between;background-color:azure;">  
                <a style="display:flex;font-size: calc(3px + 1vw);margin: auto;color:black;" type="button" type="submit" href="#" value="autoriza" ><span>PROPONENTE-{{ forloop.counter }}</span></a>
            </div>
            
            <table class="table table-bordered">
                <tr>
                    <th>Fecha</th>
                    
                    <th>Proponente</th>
                    <th>Descripción</th>
                    <th>Valor</th>
                    <th>Seleccionado</th>
                    <th>Fecha Selección</th>
                    <th>Votos Favor</th>
                    <th>Votos Contra</th>
                    <th>Editar</th>
                    <th>Borrar</th>
                    <th>Pasa a Prov.</th>
                    <th>Adic.Anexo</th>
                    </tr>
                <tr>
                    <td>{{proponente.fecha}}</td>
                    
                    <td>{{proponente.proponente}}</td>
                    <td>{{proponente.descripcion}}</td>
                    <td>{{proponente.valor|intcomma}}</td>
                    <td id="seleccionado">{{proponente.seleccionado}}</td>
                    <td>{{proponente.fecha_seleccion}}</td>
                    <td>{{proponente.votos_favor}}</td>
                    <td>{{proponente.votos_contra}}</td>
                    <td><a id="BtnEditar" type="button" class="btn-floating btn-short waves-effect waves-light orange" type="edit" href="{% url "edita_proponente_proyecto" proponente.id %}" value="editar" style="color:red"><i class="material-icons">edit</i></a></td>
                    <td><a id="BtnBorrar" type="button" class="btn-floating btn-short waves-effect waves-light red" href="{% url "borra_proponente_proyecto" proponente.id %}" value="editar" style="color:red"><i class="material-icons">delete</i></a></td>
                    <td><a id="BtnPasar" type="button" class="btn-floating btn-short waves-effect waves-light red" href="{% url "proponente_proyecto_a_proveedor" proponente.id %}" value="editar" style="color:red"><i class="material-icons">add_circle</i></a></td>
                    <td><a id="BtnAnexos" type="button" class="btn-floating btn-short waves-effect waves-light green" href="{% url "upload:anexo_proponente_proyecto" proponente.id %}" value="editar" style="color:red"><i class="material-icons">add_circle</i></a></td>   
                </tr>
            </table>    
            <table style="border: 1px white;background-color: rgb(241, 228, 103);height: 50%;border-collapse:collapse;" >
                {% for anexo in anexos_proponente_proyecto %}
                    {% if anexo.proponente_proyecto.proponente_id == proponente.proponente_id %}
                        <div style="display:flex;align-items:center;justify-content:center;flex-direction:row;justify-content: space-between;background-color:azure;"> 
                            <a style="display:flex;font-size: calc(3px + 1vw);margin: auto;color:black" type="button" type="submit" href="#" value="autoriza" ><span>ANEXOS PROPONENTE</span></a>
                        </div>
                        <tr>
                            <th>No.</th>
                            <th>Documento</th>
                            <th></th>
                            <th>Borrar</th>
                        </tr>        
                        <tr>
                            <td>-{{ forloop.counter }}</td>
                            <td>{{ anexo.descripcion }}</td>
                            <td><a href="{{ anexo.archivo.url }}">
                                <i class="fa fa-caret-down"></i>
                                <span class="nav-text" style="color:black">
                                <strong>Descargar</strong>
                                </span>
                            </a>
                            </td>
                            <td><a id="BtnBorrar" type="button" class="btn-floating btn-short waves-effect waves-light brown" href="{% url "borra_anexo_proponente_proyecto" pk=anexo.id %}" value="borrar" style="color:red"><i class="material-icons">delete</i></a></td></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        
        {% endfor %}    
    </div>
</div>

{% block javascript %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    var sw=0;
    if (sw ==0 ){
        pone_simbolos();
        sw=1
    }
    
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    function pone_simbolos(){
    $('table tr ').each(function() {
    var s = $(this).find("#aprobado").html();
    var thtml = ''
    if (s == 'True') {
        thtml = '<td><label><input type="checkbox" checked="checked" id="aprobado"><span></span></label></td>'
        $(this).find("#aprobado").replaceWith(thtml); 
    }
    if (s == 'False') {
        thtml = '<td><label><input type="checkbox" id="aprobado" ><span></span></label></td>'
        $(this).find("#aprobado").replaceWith(thtml);
    }
    var s = $(this).find("#seleccionado").html();
    var thtml = ''
    if (s == 'True') {
        thtml = '<td><label><input type="checkbox" checked="checked" id="seleccionado"><span></span></label></td>'
        $(this).find("#seleccionado").replaceWith(thtml); 
    }
    if (s == 'False') {
        thtml = '<td><label><input type="checkbox" id="seleccionado" ><span></span></label></td>'
        $(this).find("#seleccionado").replaceWith(thtml);
    }
    });
    }

    $(document).on("click","#BtnProponente", function(e) {
        e.stopImmediatePropagation();
        var currentRow=$(this).closest("tr");
        var id = currentRow.find("#id").text();
        var thtml = '';
        $.ajax({
        url: "{% url 'guarda_idproyecto' %}",
        data: {'id':id},
        method: "GET",
        dataType: 'json',
        success: function (data) {
        }
        });
    });

    $(document).on("click","#aprobado", function(e) {
        e.stopImmediatePropagation();
        var currentRow=$(this).closest("tr");
        var id = currentRow.find("#id").text();
        var thtml = '';
        $.ajax({
        url: "{% url 'ajax_switch_aprobado_proyecto' %}",
        data: {'id':id},
        method: "GET",
        dataType: 'json',
        });
    });

    $(document).on("click","#seleccionado", function(e) {
        e.stopImmediatePropagation();
        var currentRow=$(this).closest("tr");
        var id = currentRow.find("#id").text();
        var thtml = '';
        $.ajax({
        url: "{% url 'ajax_switch_seleccionado_proponente' %}",
        data: {'id':id},
        method: "GET",
        dataType: 'json',
        });
    });
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    
    $(document).ready(function(){
    $('.sidenav').sidenav();
    });
</script>
{% endblock %}
{% endblock %}


