<!DOCTYPE html>
<html lang='es'>
    
{% extends "core/base_sin_material.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
{{ form.media }}            {# Adds date-picker required JS and CSS #}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

{% load static %}    

<style>
    
    label{color: black;
        font-size: 1.0em;    
    }
  
</style>
<!DOCTYPE html>
<html lang='es'>

<head>
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">
</head>

    <div style="margin-top:20px" class="container-doc">
        <div class="col-md-6 mx-auto mb-6">
            <div class="titulo">
                <h3>REGISTRO RESIDENTE - SOLICITUD DE TOKEN</h3>
            </div>
            </br>
            <div class="container">
            <form role="form" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <p>Al Guardar, revise su correo copie el token e ingrese por la opción de Usuario No Registrado Residente</p>
                <button id="btnCorrespondencia" type="submit" class="btn btn-primary" value="Submit">Guardar</button>
                <button id="btnSalir" class="btn btn-warning" data-dismiss="modal">Salir</button>
            </form>
            </div>
        </div>    
    </div>

     
{% block javascript %}
<script>
    
    $(document).on("click","#btnSalir", function(e) {
          window.location.href = "{% url 'home' %}";
    })

    $(document).on("click","#id_interior", function(e) {
    const IdInterior = document.getElementById('id_interior')
    $.ajax({
    url: "{% url 'ajax_filtrar_apartamento' %}",
    data: {'idinterior':IdInterior.value },
    method: "GET",
    Type: 'json',
    success:function(data) {
    var trHTML = '';
    document.getElementById("id_apartamento").innerHTML='';
    for (var i = 0; i < data.length; i++) {
    const id =  {id: data[i].id};
    const numero =  data[i].numero;
    console.log(numero)  
    trHTML = `<option value=${data[i].id} >${numero}</option>`;
    $("#id_apartamento").append(trHTML);
    }
    }
    });
    });
    
    $("#id_email").change(function () {
    const email = $(this).val();
    $.ajax({
    url: "{% url 'ajax_email_buscar_apartamento' %}",
    data: {'email':email },
    method: "GET",
    Type: 'json',
    success:function(data) {
    var trHTML = '';
    IdInterior = document.getElementById("id_interior");
    IdApartamento = document.getElementById("id_apartamento");
    IdApartamento.value=data.idapartamento
    IdInterior.value=data.idinterior
    }
    });
    });

</script>

{% endblock %}
{% endblock %}