{% extends "core/base.html" %}
{% load render_table from django_tables2 %}

{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{% load django_tables2 %}
{% load humanize %}
{% load static %}
{% block content %}
{{ form.media }}
<!doctype html>

<title>{% block tittle %}Correspondencia | CONDOMINIUM{% endblock %}</title>
<style>
    .table{
        background-color: rgb(255, 254, 254);
    }
    table, th, td {
        border: 1px solid rgb(193, 175, 243);
        
    }
    
    .sidebar{
    width:20%;
    background-color: rgb(4, 83, 161);
    margin-top: 5px;
    margin-left: 10px;
    }
    
   .main-box{display: flex;
    flex-direction: row; 

   }
   .container-filter{
        display:flex;
        flex-direction:row;
        justify-content: center;
        padding-top: 20px;
        margin-left:2vw;
        margin-right: 2vw ;
        margin:auto;
        width:80%;
        background-color: aliceblue;
    }     

@media screen and (max-width: 600px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    
    div.content {margin-left: 0;}
    
    .main-box{
        display: flex;
        flex-direction: column; 
    }
    .navbar-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center; 
    }
    }
    @media screen and (max-width: 400px) {
    .sidebar a {
      width: 100%;
      text-align: center;
      float: none;
    }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	
  .container-filter{
        display:flex;
        flex-direction:row;
        justify-content: center;
        padding-top: 20px;
        margin-left:2vw;
        margin-right: 2vw ;
        margin:auto;
        width:80%;
        background-color: aliceblue;
    }       
  
    }
</style>
<div id="filtro" style="padding-top: 20px;margin-left:2vw;margin-right: 2vw ;margin:auto;width:80%;background-color: aliceblue;" class="container">
    <form method="get">
        <div style="display:flex;flex-direction: row;">
            <div style="display:flex;flex-direction: row;align-items: center;">
                <div>Identificacion:</div><div style="background-color: white;transform:translate(3vh,0);">{{ filter.form.identificacion }}</div>
            </div>    
            <div style="display:flex;flex-direction: row;align-items: center;">    
                <div style="transform:translate(5vh,0);display:flex;">Nombre:</div><div style="transform:translate(7vh,0);display:flex;background-color: white;">{{ filter.form.nombre }}</div>
            </div>
            <div style="display:flex;flex-direction: row;align-items: center;">
                <div style="transform:translate(9vh,0);display:flex;">Apartamento:</div><div style="background-color: white;transform:translate(11vh,0);display:flex;">{{ filter.form.apartamento }}</div>
            </div>
        </div>
        <input type="submit" />
        
    </form>
</div>

<div class="main-box">
    <head>
        <div class="sidebar" >
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <div class="py-2 px-3 mb-20 " style="background-color: white;">
                <div style="color:rgb(8, 8, 8);">Menu Residentes</div>
            </div>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <br>
                    <li>
                        <a  href="{% url 'pagina_informacion_residentes' %}" class="nav-link px-0 align-middle" style="color:rgb(188, 245, 174)">
                        <i class="material-icons">undo</i><span class="ms-1 d-none d-sm-inline">Regresar</span> </a>
                    </li>
                </ul>     
            </div>    
        </div>
    </head>
    <div class="container" style="display:flex;flex-direction: column;width: 100%;">
        <div style="display:flex;align-items:center;justify-content:center;flex-direction:row;justify-content: space-between;background-color:azure;"> 
            <table>
                <tr>
                    <th style="border: 1px solid rgb(253, 253, 253);"><a style="font-size: calc(5px + 1vw);color:black;"><span>RESIDENTES</span></a></th>
                    <th style="border: 1px solid rgb(253, 253, 253);"><div>Filtro</div><a type="submit" id="btnFiltros" onClick="muestra_oculta('filtro')" class="btn-floating btn-short waves-effect waves-light cyan" value="crear" ><i class="material-icons">filter_list</i></a></th>
                    <th style="border: 1px solid rgb(253, 253, 253);"><div>Nuevo Residente</div><a id ="btnNuevo" type="submit" class="btn-floating btn-short waves-effect waves-light blue" href="{% url 'crea_residente' %}" value="crear" ><i class="material-icons">add</i></a></th>        
                </tr>    
            </table>
        </div>
        
        <div class="container-residentes" style="color:black">
            <table class="table table-bordered">
                {% render_table residentes %}
                <div style="transform:translate(800px,-42px);font-size: large;width:20px">Paginas</div>
            </table>
        </div> 
    </div>      
</div>

{% block javascript %}
<script>
$(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        $('select').formSelect();
        });

       $( document ).ready(function(){
       $('.sidenav').sidenav();
       $('.collapsible').collapsible();
       $(".dropdown-trigger").dropdown({ hover: true });
       });

        $(function () {
        $("#datepicker").datepicker();
        });
        var sw_inicio = 0;

        $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrainWidth: false, // Does not change width of dropdown to that of the activator
        hover: true, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: false, // Displays dropdown below the button
        alignment: 'left', // Displays dropdown with edge aligned to the left of button
        stopPropagation: false // Stops event propagation
        }
        );    
        
               
        if(sw_inicio == 0) {
        pone_simbolos();
        sw_inicio = 1;
        }

        function pone_simbolos(){
        $('table tr ').each(function() {
        var os = $(this).find("#entregado").html();
        var thtml = ''
        if (os == 'True') {
            thtml = '<td id="entregado" style="color:blue"><span>✔</span></td>'
            $(this).find("#entregado").replaceWith(thtml);
            thtml = '<td id="btnEntregas" ><span class="material-icons">done</span></td>'
            $(this).find("#btnEntregas").replaceWith(thtml); 
        }
        if (os == 'False') {
            thtml = '<td id="entregado" style="color:red" ><span>✘</span></td>'
            $(this).find("#entregado").replaceWith(thtml);
        }
        var ls = $(this).find("#tipo_correspondencia").html();
        if (ls == 'Urgente') {
            thtml = '<td id="tipo_correspondencia" style="color:red" ><span>Urgente</span></td>'
            $(this).find("#tipo_correspondencia").replaceWith(thtml);
        };        
        });
        };

        $(document).on("click","#btnIngresoCorrespondencia", function(e) {
        e.stopImmediatePropagation();
        $.ajax({
        url: "{% url 'datos_correspondencia' %}",
        method: "GET",
        dataType: 'json',
        success: function (data) {
        $("#datosIngresoCorrespondenciaModal .modal-body").html(data.html_form);
        },
        });
        });

        $(document).on("click","#btnGuardarCorrespondencia", function(e) {
            e.stopImmediatePropagation();
            var claseCorrespondencia = document.getElementById('id_clase_correspondencia');
            var tipoCorrespondencia = document.getElementById('id_tipo_correspondencia');
            var interior = document.getElementById('id_interior');
            var apartamento = document.getElementById('id_apartamento');
            $.ajax({
            url: "{% url 'guarda_datos_correspondencia' %}",
            data:{'clase_correspondencia':claseCorrespondencia.value,'tipo_correspondencia':tipoCorrespondencia.value,
            'interior':interior.value,'apartamento':apartamento.value},
            method: "GET",
            dataType: 'json',
            });
        });

        $(document).on("click","#btnEntregas", function(e) {
        e.stopImmediatePropagation();
        var currentRow=$(this).closest("tr");
        var id = currentRow.find("#id").text();
        $.ajax({
        url: "{% url 'entregas_correspondencia' %}",
        data: {'id':id},
        method: "GET",
        dataType: 'json',
        success: function (data) {
        var id = data.id
        $('table tr ').each(function() {
        var idreg = $(this).find("#id").html();
        var thtml = ''
        if (data.entregado = false){
            if (id == idreg){
            thtml ='<span>✔</span>'
            $(this).find("#entregado").replaceWith(thtml);
            thtml ='<td id="fechahora_entrega">'+Date()+'</td>';
            $(this).find("#fechahora_entrega").replaceWith(thtml);
            };
            Swal.fire(
            'Correspondencia Entregada!'
            )
        }
        else
        {
            Swal.fire(
            'Correspondencia ya Entregada!'
            ) 
        };
        
        });
        }    
        });
        
        });

        function muestra_oculta(id){
        if (document.getElementById){ //se obtiene el id
        var el = document.getElementById(id); //se define la variable "el" igual a nuestro div
        el.style.display = (el.style.display == 'none') ? 'block' : 'none'; //damos un atributo display:none que oculta el div
        }
        }
        window.onload = function(){/*hace que se cargue la función lo que predetermina que div estará oculto hasta llamar a la función nuevamente*/
        muestra_oculta('filtro');/* "contenido_a_mostrar" es el nombre que le dimos al DIV */
        }
    
</script>
{% endblock %}
{% endblock %}


